<main>
  <h1>Welcome on ZetaPulse v2 !</h1>  
  <h2>Create or join game</h2>
  
  <mat-card>
    <mat-card-content>
      <form #createForm="ngForm" (ngSubmit)="create()">
        <button type="submit" mat-raised-button color="accent" [disabled]="createForm.invalid">CREATE</button>
      </form>
    </mat-card-content>
  </mat-card>
  
  <mat-card>
    <mat-card-content>
      <form #joinForm="ngForm" (ngSubmit)="join()">
        <mat-form-field fxFlex>
          <mat-label>Room Id</mat-label>
          <input matInput #gameIdControl="ngModel" [(ngModel)]="gameId" type="text" name="id" autocapitalize="off" required minlength="4" maxlength="4"/>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent" [disabled]="joinForm.invalid">JOIN</button>
      </form>
    </mat-card-content>
  </mat-card>
</main>
